            <div class="tab-pane active" id="day1">
              <table class="table-schedule tab-content">
                <thead>
                  <tr>
                    <th class="period">Period</th>
                    <th class="r0">國際會議廳 International Conference Hall</th>
                    <th class="r1">第1會議室 1st Conference Room</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>9:00 ~ 9:50</th>
                    <td colspan="2">Registration</td>
                  </tr>
                  <tr>
                    <th>9:50 ~ 10:00</th>
                    <td colspan="2">Openinig</td>
                  </tr>
                  <tr>
                    <th>10:00 ~ 11:00</th>
                    <td colspan="2"><%=session_schedule 'ruddylee'%></td>
                  </tr>
                  <tr>
                    <th>11:05 ~ 11:30</th>
                    <td colspan="2"><%=session_schedule 'assafgelber'%></td>
                  </tr>
                  <tr>
                    <th>11:30 ~ 11:55</th>
                    <td><%=session_schedule 'godfat'%></td>
                    <td><%=session_schedule 'arnvald'%></td>
                  </tr>
                  <tr>
                    <th>12:00 ~ 13:30</th>
                    <td colspan="2"><i class="fa fa-cutlery"></i>&nbsp;Lunch</td>
                  </tr>
                  <tr>
                    <th>13:30 ~ 13:55</th>
                    <td rowspan="2" style="background-color: #469EEB;"><%=session_schedule 'hothero'%></td>
                    <td><%=session_schedule 'nkj20932'%></td>
                  </tr>
                  <tr>
                    <th>13:55 ~ 14:20</th>
                    <td><%=session_schedule 'brucehsu'%></td>
                  </tr>
                  <tr>
                    <th>14:30 ~ 14:55</th>
                    <td rowspan="2" style="background-color: #469EEB;"><%=session_schedule 'juanitofatas'%></td>
                    <td><%=session_schedule 'tonytonyjan'%></td>
                  </tr>
                  <tr>
                    <th>14:55 ~ 15:20</th>
                    <td><%=session_schedule 'leechsien'%></td>
                  </tr>
                  <tr>
                    <th>15:20 ~ 15:50</th>
                    <td colspan="2"><i class="fa fa-coffee"></i>&nbsp;Tea Time</td>
                  </tr>
                  <tr>
                    <th>15:50 ~ 16:15</th>
                    <td><%=session_schedule 'johnlinvc'%></td>
                    <td><%=session_schedule 'mvidaurre'%></td>
                  </tr>
                  <tr>
                    <th>16:15 ~ 16:40</th>
                    <td><%=session_schedule 'renske'%></td>
                    <td><%=session_schedule 'hsbt'%></td>
                  </tr>
                  <tr>
                    <th>16:40 ~ 17:40</th>
                    <td colspan="2">
                      <p>Sponsor Appeal - Akatsuki</p>
                      <%=session_schedule 'matz'%>
                    </td>
                  </tr>
                  <tr>
                    <th>17:55 ~ 18:25</th>
                    <td colspan="2"><i class="fa fa-bolt"></i>&nbsp;Lightning Talks&nbsp;
                      <p>
                      <% @speakers.each do |speaker| %>
                        <% if speaker.lt_speaker? %>
                          <span><%=session_schedule speaker.dom_id%></span><br>
                        <% end %>
                      <% end %>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <th>19:00 ~ 21:30</th>
                    <td colspan="2"><i class="fa fa-cutlery"></i>&nbsp;Official Party &nbsp;<i class="fa fa-beer"></i></td>
                  </tr>
                </tbody>
              </table>
            </div><!--Day 1-->
            <div class="tab-pane" id="day2">
              <table  class="table-schedule tab-content">
                <thead>
                  <tr>
                    <th class="period">Period</th>
                    <th class="r0">國際會議廳 International Conference Hall</th>
                    <th class="r1">第1會議室 1st Conference Room</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>9:00 ~ 9:50</th>
                    <td colspan="2">Registration</td>
                  </tr>
                  <tr>
                    <th>9:50 ~ 10:00</th>
                    <td colspan="2">Openinig</td>
                  </tr>
                  <tr>
                    <th>10:00 ~ 11:00</th>
                    <td colspan="2"><%=session_schedule 'ultrasaurus'%></td>

                  </tr>
                  <tr>
                    <th>11:05 ~ 11:30</th>
                    <td rowspan="2" style="background-color: #469EEB;"><%=session_schedule 'josephku'%></td>
                    <td><%=session_schedule 'igaiga'%></td>
                  </tr>
                  <tr>
                    <th>11:30 ~ 11:55</th>
                    <td><%=session_schedule 'vipulnsward'%></td>
                  </tr>
                  <tr>
                    <th>12:00 ~ 13:30</th>
                    <td colspan="2"><i class="fa fa-cutlery"></i>&nbsp;Lunch</td>
                  </tr>
                  <tr>
                    <th>13:30 ~ 13:55</th>
                    <td><%=session_schedule 'nouse'%></td>
                    <td><%=session_schedule 'drenmi'%></td>
                  </tr>
                  <tr>
                    <th>13:55 ~ 14:20</th>
                    <td><%=session_schedule 'tka'%></td>
                    <td><%=session_schedule 'matadon'%></td>
                  </tr>
                  <tr>
                    <th>14:30 ~ 14:55</th>
                    <td rowspan="2" style="background-color: #469EEB;"><%=session_schedule 'lrz'%></td>
                    <td><%=session_schedule 'hagenburger'%></td>
                  </tr>
                  <tr>
                    <th>14:55 ~ 15:20</th>
                    <td><%=session_schedule 'lulalala'%></td>
                  </tr>
                  <tr>
                    <th>15:20 ~ 15:50</th>
                    <td colspan="2"><i class="fa fa-coffee"></i>&nbsp;Tea Time</td>
                  </tr>
                  <tr>
                    <th>15:50 ~ 16:15</th>
                    <td rowspan="2" style="background-color: #469EEB;"><%=session_schedule 'rickypai'%></td>
                    <td><%=session_schedule 'judytuan'%></td>
                  </tr>
                  <tr>
                    <th>16:15 ~ 16:40</th>
                    <td><%=session_schedule 'tsechingho'%></td>
                  </tr>
                  <tr>
                    <th>16:50 ~ 17:50</th>
                    <td colspan="2"><%=session_schedule 'tenderlove'%></td>
                  </tr>
                  <tr>
                    <th>17:40 ~ 17:55</th>
                    <td colspan="2">Closing</td>
                  </tr>
                </tbody>
              </table>
            </div><!--Day 2-->
