<nav id="front-nav"> 
<div class="group">
  <a class="list-group-icon" href="#home"><i class="fa fa-home  fa-3x fa-fw"></i><%= image_tag('menu_home.png')%></a>
  <a class="list-group-icon" href="#speaker"><i class="fa fa-users  fa-3x fa-fw"></i><%= image_tag('menu_speaker.png')%></a>
</div>
</nav> 
<header id="home">
  <div class="logo"><%=image_tag("logo.png")%></div>
  
  <%=image_tag("cloud2_airplan.png", class: "cloud2")%>
  <%=image_tag("cloud1.png", class: "cloud1")%>
  <%=image_tag("cloud3.png", class: "cloud3")%>
  

  <div class="social">
    <%=link_to image_tag("fb_ic.png"),"https://www.facebook.com/ruby.taiwan"%>
    <%=link_to image_tag("twitter_ic.png"),"https://twitter.com/rubytaiwan"%>
    <%=link_to image_tag("email_ic.png"),"mailto:contact@rubyconf.tw"%>
  </div>
  <div class="info">
    <div class="info-inner time">
      <%=image_tag("time_ic.png")%>
      <p>November 9</p>
    </div>
    <div class="info-inner location">
      <%=image_tag("location_ic.png")%>
      <p>H.S.S. Building, Academia Sinica</p>
    </div>
  </div>
  <div class="btn">
  <%=image_tag("video_btn.png", class: "video_btn disabled")%>

  <%=link_to image_tag("registeration_btn.png", class: "registeration_btn  disabled"),  "http://www.example.com"%>
  </div>
  <%=image_tag("Shovel.png", class: "shovel")%>
  <%=image_tag("mountain.png", class: "mountain")%>
  
</header>
<div class="green_block"></div>

<div id="speaker">
  <div class="row">
    <%# @speakers.each do |speaker| %>
    <!-- <div class="col-4">
      <div class="avatar">    
        <div class="imagecontainer">
        <%#= image_tag speaker.avatar.middle%>
        </div>
      </div> 
        <div class="description"> 	
        <h3>演講者：<%#=speaker.name%></h3>
        <h4>Bio：<%#= speaker.biography %></h4>
        </div>     
    </div> -->
    <div class="col-sm-4">
      <div class="avatar">    
        <div class="imagecontainer">
        <%= image_tag("matz.png")%>
        </div>
      </div> 
        <div class="description">   
        <h3>Matz</h3>
        <!-- <p>@yukihiro_matz</p> -->
        <p>the father of Ruby Programming Language</p>
        </div>     
    </div>
    <div class="col-sm-4">
      <div class="avatar">    
        <div class="imagecontainer">
        <%= image_tag("sarahallen.png")%>
        </div>
      </div> 
        <div class="description">   
        <h3>Sarah Allen</h3>
        <!-- <p>@lindaliukas</p> -->
        <p>co-founder of Mightyverse and Presidential Innovation Fellow at the Smithsonian Institution.</p>
        </div>     
    </div>
    <div class="col-sm-4">
      <div class="avatar">    
        <div class="imagecontainer">
       <%= image_tag("temderlove.png")%>
        </div>
      </div> 
        <div class="description">   
        <h3>Aaron Patterson</h3>
        <p>famous Ruby and Rails committer.</p>      
        </div>     
    </div>
    

    <%# end %>
  </div>
</div>

<footer>
  <%=image_tag("footer.png", class: "footer-bg")%>
  <%=image_tag("dwarf1.png", class: "dwarf1")%>
  <%=image_tag("dwarf2.png", class: "dwarf2")%>
  <%=image_tag("dwarf3.png", class: "dwarf3")%>
</footer>
