<nav id="front-nav"> 
<ul>
  <li class="home_ic"><a href="#home"><%= image_tag('menu_home.png')%></a></li>
  <li class="speaker_ic"><a href="#speaker"><%= image_tag('menu_speaker.png')%></a></li>
  <li class="sponser_ic"><a href="#speaker"><%= image_tag('menu_sponser.png')%></a></li>
</ul>
</nav> 
<header id="home">
  <div class="logo"><%=image_tag("logo.png")%></div>
  <%=image_tag("gif/ruby_rotate.gif", class: "ruby")%>
  <%=image_tag("cloud2_airplan.png", class: "cloud2")%>
  <%=image_tag("cloud1.png", class: "cloud1")%>
  <%=image_tag("cloud3.png", class: "cloud3")%>

  

  <div class="social">
    <%=link_to image_tag("fb_ic.png"),"https://www.facebook.com/ruby.taiwan", target: "_blank"%>
    <%=link_to image_tag("twitter_ic.png"),"https://twitter.com/rubytaiwan", target: "_blank"%>
    <%=link_to image_tag("email_ic.png"),"mailto:contact@rubyconf.tw"%>
  </div>
  <div class="info">
    <div class="info-inner time">
      <%=image_tag("time_ic.png")%>
      <p>November 9</p>
    </div>
    <div class="info-inner location">
      <%=image_tag("location_ic.png")%>
      <p>H.S.S. Building, Academia Sinica</p>
    </div>
  </div>
  <div class="btn">
  <%=link_to "registeration","#",class: "white_btn disabled"%>
  <%=link_to "Call For Proposals","http://rubytaiwan.kktix.cc/events/rubyconftw2015-cfp",class: "blue_btn", target: "_blank"%>
  </div>
  
</header>
<div class="block">
<%=image_tag("mountain1.png", class: "mountain")%>
</div>
<div id="speaker">

  <div class="row">
    <% @speakers.each do |speaker| %>
    <div class="col-sm-4">
      <div class="avatar">    
        <div class="imagecontainer">
        <%= image_tag speaker.avatar.middle%>
        </div>
      </div> 
        <div class="description"> 	
        <h3><%=speaker.name%></h3>
        <p><%= speaker.biography %></p>
        </div>     
    </div> 
    <% end %>
  </div>
</div>

<div id="sponsor">
  <div class="row">
    <div class="level">
      <%=image_tag("sponsorship_level_1.png")%>
    </div>
    <% @sponsors.each do |sponsor| %>
    <div class="col-sm-6">
      <div class="avatar">    
        <div class="imagecontainer">
        <%= image_tag sponsor.image, class:"sponsor_ruby" %>
        </div>
      </div>   
    </div> 
    <% end %>
    </div>
    
</div>

  <div class="row">
    
  </div>
</div>

<footer>
  <%=image_tag("footer.png", class: "footer-bg")%>
  <%=image_tag("dwarf1.png", class: "dwarf1")%>
  <%=image_tag("dwarf2.png", class: "dwarf2")%>
  <%=image_tag("dwarf3.png", class: "dwarf3")%>
</footer>

<script src='http://code.jquery.com/jquery-2.1.4.min.js'></script>
<script>
  $( "li a" ).mouseenter(function() {
  $( this ).animate({opacity:'1'},"slow");
});
$( "li a" ).mouseleave(function() {
  $( this ).animate({opacity:'0'},"slow");
});
</script>
