<nav id="front-nav" >
  <ul>
    <li class="home_ic"><a href="#home"><%= image_tag('menu_home.png')%></a></li>
    <li class="speaker_ic"><a href="#speaker"><%= image_tag('menu_speaker.png')%></a></li>
    <li class="coc_ic"><a href="#coc"><%= image_tag('menu_coc.png')%></a></li>
    <li class="schedule_ic"><a href="#schedule"><%= image_tag('menu_schedule.png')%></a></li>
    <li class="sponser_ic"><a href="#sponsor"><%= image_tag('menu_sponser.png')%></a></li>
  </ul>
</nav>
<div id="sections">
  <div id="home">
    <div class="logo"><%=image_tag("logo.png")%></div>
    <%=image_tag("gif/ruby_rotate.gif", class: "ruby")%>
    <%=image_tag("cloud2_airplan.png", class: "cloud2")%>
    <%=image_tag("cloud1.png", class: "cloud1")%>
    <%=image_tag("cloud3.png", class: "cloud3")%>
    <%=image_tag("tub_top.png", class: "tub_top")%>
    <div class="social">
      <%=link_to image_tag("fb_ic.png"),"https://www.facebook.com/ruby.taiwan", target: "_blank"%>
      <%=link_to image_tag("twitter_ic.png"),"https://twitter.com/rubytaiwan", target: "_blank"%>
      <%=link_to image_tag("email_ic.png"),"mailto:contact@rubyconf.tw"%>
    </div>
    <div class="info">
      <div class="info-inner time">
        <%=image_tag("time_ic.png")%>
        <p>November 9</p>
      </div>
      <div class="info-inner location">
        <%=image_tag("location_ic.png")%>
        <p>H.S.S. Building, Academia Sinica</p>
      </div>
    </div>
    <div class="btn">
      <%=link_to "registeration","#",class: "white_btn disabled"%>
      <%=link_to "Call For Proposals","http://rubytaiwan.kktix.cc/events/rubyconftw2015-cfp",class: "blue_btn", target: "_blank"%>
    </div>
  </div>
  <div id="speaker">
    <div class="block">
      <%=image_tag("mountain1.png", class: "mountain")%>
    </div>
    <div class="tub-repeat"></div>
    <div class="row">
      <% @speakers.each do |speaker| %>
      <div class="col-sm-4">
        <div class="avatar">
          <div class="imagecontainer">
            <%= image_tag speaker.avatar.middle%>
          </div>
        </div>
          <div class="description">
            <h3><%=speaker.name%></h3>
            <p><%= speaker.biography %></p>
          </div>
      </div>
      <% end %>
    </div>
  </div>
  <div id="coc">
    <div class="row">
      <div class="col-sm-12">
        <h1>Code of conduct</h1>
        <p>In the same way that Matz has written Ruby in order to make developers happy, we are also focused on making the community happy. The RubyConf Taiwan and Ruby Taiwan gather wonderful people from a diverse range of backgrounds, and we want to create a welcoming and safe environment where everyone eagers to join. 
        </p>     
      </div>
    </div>
  </div>
  <div id="schedule">
    <div class="row">
      <div class="schedule-frame">
        <div class="call-for-proposal">              
        <h1>We still looking for speakers.<br>If you want to join us.<br>Click “call for proposal” button! </h1>
        </div> 
        <div class="btn">   
        <%=link_to "call for proposal","http://rubytaiwan.kktix.cc/events/rubyconftw2015-cfp",class: "blue_btn", target: "_blank"%>
        </div>
      </div>
        
      
    </div> 
    <div class="schedule-bottom"> 
      <%=image_tag("dwarf3.png", class: "dwarf-schdule")%>
      <%=image_tag("tub_repeat_y.png",class: "mountain-tub")%>
      <%=image_tag("mountain.png", class: "mountain")%>
    </div>
  </div><!-- End of Schedule -->
  <div id="sponsor">
    <div class="row">
      <div class="level">
        <%=image_tag("sponsorship_level_1.png")%>
      </div>
      <% @sponsors.each do |sponsor| %>
      <div class="col-sm-6">
        <div class="avatar">
          <div class="imagecontainer">
          <%= image_tag sponsor.image, class:"sponsor_ruby" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div><!-- End of sections-->

<div id="staff">
  <%=image_tag("footer.png", class: "footer-bg")%>
  <%=image_tag("tub_repeat_y.png",class: "staff-tub")%>
  <%=image_tag("tub_bottom.png",class: "tub-bottom")%>
  <%=image_tag("dwarf1.png", class: "dwarf1")%>
  <%=image_tag("dwarf2.png", class: "dwarf2")%>
  <%=image_tag("dwarf3.png", class: "dwarf3")%>
</div>
