<h1>修改消息</h1>
<% if flash[:success]!=nil %>
<div class="alert  alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
   <%= flash[:success] %>
</div>
<% else%>
<div></div>
<% end %>

<%= simple_form_for [:backend, current_object] do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.label :publish_date %><br>
  <%= f.date_select :publish_date %><br>
  <br>  
  <%= f.submit class: "btn btn-primary"%>
<% end %>
