<h1>Backend::Posts#index</h1>
<p>Find me in app/views/backend/posts/index.html.erb</p>
<%= link_to '新增', new_backend_post_path, class:'btn btn-success' %>

<hr>

<div class="row">
<% current_collection.each do |post| %>
  <!-- <div class="col-sm-4"> -->
  	
    <div class="thumbnail">
      <%#= image_tag post.image.small %>
      <div class="caption"> 	
        <h3><%#= link_to post.name, backend_post_path(post) %></h3>
        <h3>標題：<%=link_to post.title, backend_post_path(post) %></h3>
        <h4>Date：<%= post.publish_date %></h4>
        <h4>Content：<%= post.content%></h4>
        <p>
        <%= link_to '編輯', edit_backend_post_path(post),class:'btn btn-success btn-xs' %> 
        <%= link_to '刪除', backend_post_path(post),class:'btn btn-danger btn-xs', :method => :delete , data:{confirm:'確定嗎？'}%>
        </p>
      </div>
    </div>
    
  <!-- </div> -->
  <% end %>
</div>