<h1>修改使用者</h1>
<% if flash[:success]!=nil %>
<div class="alert  alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
   <%= flash[:success] %>
</div>
<% else%>
<div></div>
<% end %>

<%= simple_form_for @user do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%#= f.input :password %>
  <%#= f.input :password_confirmation %>
  <%= f.submit class: "btn btn-primary"%>
<% end %>
