<h1>新增講者</h1>
<%= simple_form_for [:backend, @speaker] do |f| %>
  <%= f.input :name %>
  <%= f.input :avatar %>
  <%= f.input :biography %>
  <%= f.input :subject %>
  <%= f.input :abstract %>
    
  <%= f.submit class: "btn btn-primary"%>
<% end %>
