<%# breadcrumb :speaker, @speaker %>
<h1>講者資訊</h1>
<%= link_to "編輯" ,edit_backend_speaker_path ,class:'btn btn-success btn-default' %>
<hr>


<div class="media">
  <div class="media-left">
    <%= image_tag current_object.avatar.middle %>
  </div>
  <div class="media-body">
<table class="table">
      <thead>
        <tr class="active">
          <th colspan="2">基本資料</th>
        </tr>
      </thead>
      <tbody>     
        <tr>
          <td>Name</td>
          <td><%= current_object.name %></td>
        </tr>
        <tr>
          <td>Subject</td>
          <td><%= current_object.subject %></td>
        </tr>
        <tr>
          <td>Biography</td>
          <td><%=  current_object.biography %></td>
        </tr>
        <tr>
          <td>Abstract</td>
          <td><%=  current_object.abstract %></td>
        </tr>
        <tr>
          <td>LT Speaker</td>
          <td><%=  current_object.lt_speaker %></td>
        </tr>
      
      </tbody>
</table>
  </div>
</div>

<%= link_to "返回列表" ,backend_speakers_path ,class:'btn btn-primary' %>