<h1>贊助商列表</h1>
<%= link_to '新增', new_backend_sponsor_path, class:'btn btn-success' %>
<hr>
<table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>description</th>
          <th>Link</th>
          <th>image</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
      <% current_collection.each do |sponsor| %>
        <tr>
          <td><%= sponsor.name %></td>
          <td><%= sponsor.description %></td>
          <td><%= sponsor.link %></td>
          <td><%= image_tag sponsor.image.small %></td>
          <td><%= link_to '顯示', backend_sponsor_path(sponsor) ,class:'btn btn-success btn-xs'%></td>
          <td><%= link_to '編輯', edit_backend_sponsor_path(sponsor) ,class:'btn btn-success btn-xs'%></td>
          <td><%= link_to '刪除', backend_sponsor_path(sponsor), method: :delete, data: { confirm: 'Are you sure?'} ,class:'btn btn-danger btn-xs' %></td>
        </tr>
       <% end %> 
      </tbody>
</table>