
<% current_collection.each do |user| %>
<div class="col-sm-6">
  <div class="thumbnail"> 
      <%= gravatar_for user %>
      <div class="caption"> 	
        <h3>作者：<%=link_to user.name, backend_user_path(user) %></h3>
        <h4>Email：<%= user.email %></h4>
        <p>
        <%= link_to '編輯', edit_backend_user_path(user),class:'btn btn-success btn-xs' %> 
        <%= link_to '刪除', backend_user_path(user),class:'btn btn-danger btn-xs', :method => :delete , data:{confirm:'確定嗎？'}%>
        </p>
      </div>
  </div>
</div>

<% end %>