<nav id="front-nav" class="sub-page">
  <div class="inner-nav">
    <a href="#speaker" class="nav-line scroll"></a>
    <a class="enlarge">Events</a>
  </div>
  <div class="inner-nav">
    <a href="#schedule" class="nav-line scroll"></a>
    <a class="enlarge">Sessions</a>
  </div>
</nav>
<div id="sections">
  <div class="section" id="speaker">
    <div class="block mountain">
      <%= image_retina_tag("mountain.png", class: "mountain", id: "mountain") %>
    </div>
    <% if !@events.blank? %>
      <div class="row">
        <% for e in @events %>
          <div class="col-xs-12 col-sm-4 col-md-4 event <%= e.activity ? 'attended' : '' %>" style="opacity: 1;">
            <span class="glyphicon glyphicon-tower event-icon" aria-hidden="true"></span>
            <div class="description">
              <h3><%= e.name %></h3>
              <p><%= e.category %></p>
              <p><%= e.slug %></p>
              <% if e.activity %>
                <p>Attended at <%= e.activity.happened_at %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
    <% end %>
  </div>
  <div class="section" id="schedule">
      <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 event <%= @sessions.count >= 15 ? 'attended' : '' %>" style="opacity: 1;">
            <span class="glyphicon glyphicon-tower event-icon" aria-hidden="true"></span>
            <div class="description">
              <h3>Attend 15 Talk</h3>
              <p>Attend 15 Talk</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 event <%= @sessions.count >= 10 ? 'attended' : '' %>" style="opacity: 1;">
            <span class="glyphicon glyphicon-tower event-icon" aria-hidden="true"></span>
            <div class="description">
              <h3>Attend 10 Talk</h3>
              <p>Attend 10 Talk</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 event <%= @sessions.count >= 5 ? 'attended' : '' %>" style="opacity: 1;">
            <span class="glyphicon glyphicon-tower event-icon" aria-hidden="true"></span>
            <div class="description">
              <h3>Attend 5 Talk</h3>
              <p>Attend 5 Talk</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 event <%= @sessions.count >= 1 ? 'attended' : '' %>" style="opacity: 1;">
            <span class="glyphicon glyphicon-tower event-icon" aria-hidden="true"></span>
            <div class="description">
              <h3>Attend 1 Talk</h3>
              <p>Attend 1 Talk</p>
            </div>
          </div>
      </div>


  </div>
</div>
