<!DOCTYPE html>
<html>
<head>

<title><%=page_title%></title>
<!-- =======
  <title><%#= yield(:title) %> | Rubyconf2015</title>
>>>>>>> Stashed changes -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%#= render 'navbar' %>


<%= yield %>
<%#= debug(params) if Rails.env.development? %>

</body>
</html>
